# Leiningen template
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

*.log
.clj-kondo/
.lsp/
.calva/

resources/database/
mysql-shell-8.3.0-linux-glibc2.28-x86-64bit/
mysql-shell-8.3.0-linux-glibc2.28-x86-64bit.tar.gz
